<header>
	<h1>Cine Campus</h1>
	<nav>
		<ul>
			<li class="home">
				<a href="index.php" title="Home page">
					<span>Accueil</span>
				</a>
			</li>
			<li class="search">
				<a href="search.php" title="Search page">
					<span>Recherche</span>
				</a>
			</li>
			<li class="contact">
				<a href="#" title="Send mail">
					<span>Contact</span>
				</a>
			</li>
			<li class="abonnement">
				<a href="abonnement.php" title="Abonnement page">
					<span>Abonnement</span>
				</a>
			</li>
			<li class="membre">
				<a href="membre.php" title="Member page">
					<span>Membre</span>
				</a>
			</li>
		</ul>
	</nav>
</header>